.gallery img{
    width: 100%;
}

h2{
    text-align: center;
    font-family: impact, fantasy;
    color: black;
    font-size: 40px;
    font-style: italic;
}

h4{
    font-family: impact, fantasy;
    font-size: 30px;
    font-style: italic;
    color: royalblue;
}

p{
    font-family: Helvetica, sans-serif;
}

#menu{
    width: 100%;
    height: 40px;
    background-color: dimgrey;
    padding-top: 12px;
}

#menu a{
    color: whitesmoke;
    font-family: Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
    font-weight: 800;
    padding-left: 20px;
    padding-right: 20px;
}

#menu a:hover{
    color: royalblue;
}

